[submodule "corma-transaction-processor"]
	path = corma-transaction-processor
	url = https://github.com/vvs29/corma-transaction-processor.git
[submodule "corma-transaction-identifier"]
	path = corma-transaction-identifier
	url = https://github.com/vvs29/corma-transaction-identifier.git
